{% extends 'base.html' %}

{% block content %}
	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Feito com Amor</p>
							<h1>Os Melhores Bolos</h1>
							<div class="hero-btns">
								<a class="boxed-btn">Nossos Bolos</a>
								<a class="bordered-btn">Contato</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Nossos</span> Bolos</h3>
						<p>Os melhores e mais deliciosos bolos de João Pessoa</p>
					</div>
				</div>
			</div>
			<div class="row">
				{% for bolo in bolos %}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{{ bolo.foto.url }}" alt=""></a>
						</div>
						<h3>{{ bolo.titulo }}</h3>
						<p class="product-price"><span>Preço</span> R$ {{ bolo.preco }} </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Adicionar ao Carrinho</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- end product section -->
{% endblock %}
